body {
  background-attachment: fixed;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: 'Cambria';
  width: 100%;
  height: 100% auto;
  margin: 0% auto;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/* Errorpage */

.wargin {
    background: #1a1735;
    border-radius: 25px;
    width: 600px;
    height: 150px;
    left: 380px;
    top: 100px;
    position: relative;
}
.title {
    color: antiquewhite;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    top: 60px;
    position: relative;
}

/* Link */

.bther {
  color: white;
  transition: ease-in-out 0.4s;
}

.bther:hover {
  color: brown;
}